<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #f5f5f5;" id="navbar">

  <a class="navbar-brand active" href="#">
    <img src="/assets/img/idea.png" height="30" alt="Ideaists">
    <img src="/assets/img/ists.png" height="30"> 
  </a>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>

  <!-- <ul class="nav navbar-right image_section">
			<li>
				<img class="" src="/assets/img/logo-bbg.png" height="75" alt="Ideaists Logo">
			</li>
  </ul> -->



</nav>

<router-outlet></router-outlet>

<footer id="myFooter">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="social-networks">
          <a href="https://twitter.com/Ideaists" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/Ideaists-1763192907321428/?ref=www_aymt_megaphone" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/company/ideaists/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <p>© 2018 Copyright Ideaists, LLC </p>
    </div>

  </div>
</footer>