<div class="jumbotron jumbotron-fluid" id="jumbotron">

    <div class="container text-center">
        <h1 class="display-3" style="font-weight:bold; color: #f5f5f5;">Modular Creative Agency</h1>
    </div>

    <hr id="hr-a">

    <div class="container">
        <div class="row justify-content-center"  style="color: #f5f5f5;">
            <div class="col-3 text-center">
                <img src="/assets/img/create.png" class="img plan" alt="Pencil">
                <p class="display-4 text-magic ">Plan</p>
            </div>
            <div class="col-3 text-center">
                <img src="/assets/img/build.png" class="img build" alt="Pencil & TestTube">
                <p class="display-4 text-magic ">Build</p>
            </div>
            <div class="col-3 text-center">
                <img src="/assets/img/grow.png" class="img grow" alt="TestTube">
                <p class="display-4 text-magic ">Grow</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="text-center"  id="arrow">
            <a href="#lead" class="smoothScroll"><img src="/assets/img/whitearrow.png" class="img-fuid" alt="arrow"></a>
        </div>
    </div>

</div>





<div class="container-fluid smooth-container" id="lead" style="position: relative;">

    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-10">

            <div class="text-center">
                <h1>We Cultivate Growth</h1>
            </div>

            <div class="container">
                <div class="row text-center">
                    <p>  
                        Regardless of the type of business you own or manage, irrespective of its size or focus, we all live, play – and work – in a complex digital world. IDEAISTS exists to help you navigate, dominate, and thrive in the business end of that equation.
                    </p>
                    <p>
                        We’re an all-inclusive, full-service resource for your digital marketing and Internet technology needs. The breadth and depth of our team’s collective experience enables us to tailor solutions that are not only suited to your unique objectives, but that also exceed your expectations in every way – from their initial scoping and development, through their implementation, execution, and completion.
                    </p>
                    <p>
                        What makes the IDEAISTS service approach unique is the diverse nature of our professional backgrounds. Our team structure intermingles the sage wisdom of seasoned marketing experts with the fresh thinking of tech-savvy millennials.
                        As a result, our combined skill sets are tuned to one common outcome: Growth.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="text-center"  id="arrow">
            <a href="#about" class="smoothScroll"><img src="/assets/img/angledn.png" class="img-fuid" alt="down"></a>
        </div>
    </div>

</div>



<hr id="hr-b">


<div class="container-fluid smooth-container" id="about" style="position: relative;">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-10 col-md-8 col-lg-10">
                <div class="text-center">
                    <h1>When Ideas Flourish, Businesses Thrive</h1>
                </div>
            </div>

            <ul>   
                <!-- <li>IDEAISTS is a unique collective of thinkers and doers.</li> -->
                <li>IDEAISTS are business activists and brand evangelists.</li>
                <!-- <li>IDEAISTS is a team of young turks and seasoned pros.</li> -->
            </ul>

            <div class="text-center">
                <p>  
                    Smart and actionable ideas are the lifeblood of every business. At IDEAISTS, we transform ideas into concepts, and concepts into action. We do this by first understanding your challenges and identifying your goals. We then devise the best strategies for helping you reach your business objectives. From there, with your involvement and participation, we develop and execute your action plan.
                </p>
                <p>    
                    We’re with you all throughout the journey, from the initial conceptualizing of an idea all the way through its final implementation. In the process, we’re able to help guide you towards greater levels of success and new heights of achievement, no matter what current marketing and technology challenges you face. Our ability to leverage innovative technologies, best practices, and visual aesthetics – from strategy, to development, to funding, to marketing – provides you with the holistic range of services you need to succeed.
                </p>
            </div>

            

                <div class="row justify-content-center">

                    <div class="col-md-6 col-sm-10">
                        <div>
                            <button class="btn dropdown" data-toggle="collapse" data-target="#small" data-parent="#smb" aria-expanded="false">
                                Small Business
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-10" id="business">
                        <div>
                            <button class="btn dropdown" data-toggle="collapse" data-target="#big" data-parent="#smb" aria-expanded="false">
                                Big Business
                            </button>
                        </div>
                    </div>

                </div>

            <div id="smb">

                <div class="collapse" id="small">
                    <h1>Generate New Growth</h1>  
                    <p>
                        All new business begins small, with just the kernel of an idea. But to grow, every new idea must be nurtured with well-considered operating strategies, smart marketing tactics, and secure sources of funding. We can assist small business owners, sole proprietors and entrepreneurs in all these areas.
                        <br>
                        We provide the right level of specialized experience to get you up and growing – efficiently and effectively – from designing your initial brand-identity package, to providing web design and development, all the way through to helping you identify and secure resources for acquiring venture capital and angel funding.
                        Among the many small-business services we offer are:
                    </p>
                    <ul>
                        <li>Brand Identity Design</li>
                        <li>Website Architecture</li>
                        <li>Content Development</li>
                        <li>Financing & Angel Funding</li>
                    </ul>    
                </div>

                <div class="collapse" id="big">
                    <div class="row justify-content-end text-right">
                        <h1>Propigate More Growth</h1>  
                        <p>
                            Whether you’re responsible for managing a large, Enterprise–level corporation, a nationally known organization, or a burgeoning name-brand business, along the way, you often experience the need to inject into your corporate culture new perspectives and fresh, objective thinking. In effect, you need IDEAISTS.        
                            <br>
                            We provide corporate leaders like you, who are responsible for establishing your company’s strategic direction, with fresh insights, unexpected ideas and sound business strategies. We become partners in your growth, dedicated to helping you on your journey towards success. We can assist with:
                        </p>
                        <ul>
                            <li>    Software Development</li>
                            <li>    Stategic Consulting</li>
                            <li>    Content Creation</li>
                            <li>    Marketing Campaigns</li>
                        </ul>    
                    </div>
                </div>
                
            </div>

        </div>
    </div>

    <div class="container">
        <div class="text-center"  id="arrow">
            <a href="#services" class="smoothScroll"><img src="/assets/img/angledn.png" class="img-fuid" alt="down"></a>
        </div>
    </div>


</div>



<hr id="hr-b">





<div class="container-fluid smooth-container" id="services" style="position: relative;">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-10 col-md-8 col-lg-10">
                <div class="text-center">
                    <h1>We are Ideaists</h1>
                    <!-- <h2>But We are also Much More</h2> -->
                </div>
            </div>
            <div class="text-center">
            <p>  
                IDEAISTS generate results using a wide variety of productive disciplines.
                Whether your business is large or small, we provide:
            </p>
            <p>   
                Consulting and Design Services • Web and Mobile Development • Strategic and Tactical Planning • Content Creation and Search Optimization • A Variety of Other Marketing Initiatives
            </p>
            <!-- <p>     
                Our full-suite of professional services focus on providing you with the right tools and products to help you throughout their venture’s growth, no matter the stage.
            </p> -->
            <p>       
                STRATEGISTS
                <br>
                We’re Sherpas On Your Climb To Success
                Individually, IDEAISTS are experts in marketing, branding, search-engine optimization, and Internet technology, to name just a few areas of our expertise. Collectively, we’re masters at formulating strategies and generating ideas.
                We custom tailor our diverse backgrounds to your unique challenges in order to devise for you the best strategies for growth, in both the long and short term.
            </p>
            <!-- <p>    
                We Are STYLISTS
                    
                We’ve Got A Sharp Eye For Intelligent Design
                As an IDEAISTS client, you enjoy ready access to an on-demand stable of talented graphic designers, technology architects, and digital development professionals who can present your brand in its best possible light. We add form and substance to ideas by creating striking graphics and eye-catching interfaces that make your corporate imagery shine.
            </p> -->
            <p>     
                SPECIALISTS
                <br>   
                We Boast A Variety Of Business Disciplines
                The say the sum is always greater than it parts but, when it comes to business, the parts are equally critical to the outcome. Members of the IDEASIST Team hail from a variety of marketing and technology backgrounds, from Madison Avenue to Silicon Valley. The diverse composition of our team means you’ll benefit from our diverse business backgrounds and our wide-ranging professional experience.
            </p>
            <p>    
                SYNERGISTS
                <br>  
                We Know How To Transform Ideas Into Action
                No matter how large or small your company or organization, IDEAISTS can help you bring together the critical components of operating your business. We help you to improve the synergies inside your organization by acting as both your core development group as well as by becoming a valued corporate partner; a trusted consultant who can assist with designing and implementing the kinds of successful marketing and technology strategies that will help you grow.
            </p>
        </div>      
        </div>
    </div>

    <div class="container">
            <div class="text-center"  id="arrow">
                <a href="#contact" class="smoothScroll"><img src="/assets/img/angledn.png" class="img-fuid" alt="down"></a>
            </div>
        </div>
</div>



<hr id="hr-b">



<div class="container-fluid smooth-container" id="contact" style="position: relative">

    <div class="row justify-content-center">

        <div class="col-sm-10 col-md-8 col-lg-10">
            <div class="text-center">
                <h1>Let's Collaborate</h1>
            </div>
        </div>
        <!-- <p>
            We Are OPTIMISTS
            Who Launch Ideas Into Action
            Let’s Collaborate
        </p> -->
        <p>    
            Contact us today to learn more about how IDEAISTS can help your company cultivate a culture of success.
        </p>
    </div>

    <div class="row justify-content-center">
            <div class="col-sm-12 col-md-4">
        <div class="container" id="formContainer">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" placeholder="name" formControlName="name">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="e-mail" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="text"placeholder="phone" formControlName="phone">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="message" rows="4" placeholder="Enter your message here..." formControlName="message"></textarea>
                    </div>
                <div>
                    <button type="button" (click)="onFormSubmit()" class="btn btn-outline-primary">Submit</button> 
                </div>
            </form>
        </div>
    </div>
</div>

</div>

